SUDO=sudo
DOCKER=sudo docker
DOCKER_COMPOSE=sudo docker compose

PROJECT_NAME="ITX FRONTEND EXAM"
PROJECT_LEAD=itx-front
PROJECT_HOST="127.0.0.1"
PROJECT_CNET=pr-dev

WEBAPP_PLTF=nginx-nodejs-25
WEBAPP_IMGK=alpine3.23-nginx-nodejs25
WEBAPP_PORT=7325
WEBAPP_BIND="../../../application"
WEBAPP_CAAS=pr-webapp-dev
WEBAPP_CAAS_USER=osuser
WEBAPP_CAAS_GROUP=osgroup
WEBAPP_CAAS_CPUS=2.00
WEBAPP_CAAS_MEM=512M
WEBAPP_CAAS_SWAP=1G
